<!DOCTYPE html>
<html>
<head>
    <title>Rivers Index Page</title>
</head>
<body>

    <h1>All the Rivers</h1>

        <ul> 
            <% @rivers.each do |river| %>
                <li>
                    <a href="/rivers/<%=river.id %>">
                        <%= river.name %>
                    
                    </a>
                </li>
            <% end %>
        </ul>
    <form action="http://localhost:9393/rivers/new">
        <button type="submit">Add a River</button>
   </form>
</body>

</html>
