<!DOCTYPE html>
<html>
<head>
    <title>New River Form</title>
</head>
<body>

    <h1>Create a new river</h1>

    <form action="/rivers" method="POST">

        <label for="river_name">Name of River</label>
        <input type="text" name="river_name">

        <label for="continent_name">Continent</label>

        <select name="continent_name">
            <% Continent.all.each do |continent| %>
              <option value="<%= continent.id %>"><%= continent.name %></option>
            <% end %>
        </select>
        
        <label for="num_countries_pass_through">  Number of Countries River Passes Through</label>
        <input type="text" name="num_countries_pass_through">
        <input type="submit" value="Create River">
    </form>

</body>
</html>