<!DOCTYPE html>
<html>
<head>
    <title>Detail Page</title>
</head>
<body>
    <h2><% @river.name %></h2>
    <div>by <%= @river.continent.name %></div>
    <div> Number of Countries This River Passes Through </div>
    <div><%= @river.num_countries_pass_through  %></div>

</body>
</html>