<!DOCTYPE html>
<html>
<head>
    <title>Detail Page</title>
</head>
<body>
    <h2><% @river.name %></h2>
    <div>Continent Name: <%= @river.continent.name %></div>
    <div>River Name: <%= @river.name %></div>
    <div> Number of Countries This River Passes Through: <%= @river.num_countries_pass_through  %></div>
    

</body>
</html>